<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>jobportal.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>jobportal.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewJobsServlet</servlet-name>
        <servlet-class>jobportal.ViewJobsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewJobsServlet</servlet-name>
        <url-pattern>/ViewJobsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplyServlet</servlet-name>
        <servlet-class>jobportal.ApplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplyServlet</servlet-name>
        <url-pattern>/ApplyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitApplicationServlet</servlet-name>
        <servlet-class>jobportal.SubmitApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitApplicationServlet</servlet-name>
        <url-pattern>/SubmitApplicationServlet</url-pattern>
    </servlet-mapping>
    
    

</web-app>
